.crousal_main_div {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.crousal_main {
  z-index: 1;
  width: 71.25rem;
  height: 20.625rem;
  background-color: rgba(95, 95, 167, 0.37);
  border-radius: 46px;
  margin-left: 3rem;
}

.biggest_div_no3 {
  height: 16.25rem;
  width: 36.25rem;
  margin-left: 17rem;
  padding-top: 1.5rem;
  border-radius: 40px;
}
.containerStyles {
  width: 36.25rem;
  height: 16.25rem;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
  .crousal_main_div {
    margin-left: 1.5rem;
  }
  .crousal_main {
    width: 58rem;
    height: 20rem;
  }
  .biggest_div_no3 {
    height: 15rem;
    width: 34.25rem;
    margin-left: 10.7rem;
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .crousal_main_div {
    margin-left: 1rem;
  }
  .crousal_main {
    width: 43rem;
    height: 20rem;
    z-index: 1;
  }
  .biggest_div_no3 {
    height: 15rem;
    width: 24.25rem;
    margin-left: 3.3rem;
    padding-top: 1rem;
    z-index: 1;
  }
}
