.My_Bets_root_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 75rem;
  margin-left: auto;
  margin-left: auto;
  border-radius: 20px;
}
.bar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.Buttons_MyBet_main_div {
  background-color: rgba(17, 19, 28, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.allBetsButton a {
  text-decoration: none;
  color: white;
}
.allBetsButton,
.latestButton,
.historyButton {
  padding: 0.8rem;
  background: none;
  border: none;
  font-size: 16px;
  font-family: "Poppins";
  color: white;
  font-weight: 600;
  letter-spacing: 0.75px;
  position: relative;
}
.allBetsButton:hover,
.latestButton:hover,
.historyButton:hover {
  transition: 0.5s ease-in-out;
  background: #2e2e48;
  border-radius: 10px;
}
.table {
  border-collapse: separate;
  border-spacing: 0 10px;
  text-align: center;
}
.row_with_heading th {
  font-size: 20px;
  font-weight: bold;
}
tr {
  height: 3.75rem;
}
td,
th {
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.first {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.last {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

tbody tr:nth-child(odd) td {
  --bs-table-striped-bg: black !important;
  border-style: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}

thead tr:nth-child(1n) th,
tbody tr:nth-child(even) td {
  background: rgba(17, 19, 28, 0.8);
  border-style: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
  .My_Bets_root_div {
    width: 58.5rem;
    margin-left: 4.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .My_Bets_root_div {
    width: 43rem;
    margin-left: 4.5rem;
  }
}
@media only screen and (max-width: 736px) {
  .My_Bets_root_div {
    width: 43rem;
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 684px) {
  .My_Bets_root_div {
    width: 41rem;
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 541px) {
  .My_Bets_root_div {
    width: 31rem;
    margin-left: 1.2rem;
  }
}
@media only screen and (max-width: 414px) {
  .My_Bets_root_div {
    width: 25rem;
    margin-left: 0.3rem;
  }
}
@media only screen and (max-width: 394px) {
  .My_Bets_root_div {
    width: 22rem;
    margin-left: 1.2rem;
  }
}
@media only screen and (max-width: 390px) {
  .My_Bets_root_div {
    width: 23rem;
    margin-left: 0.7rem;
  }
}

@media only screen and (max-width: 376px) {
  .My_Bets_root_div {
    width: 23rem;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 361px) {
  .My_Bets_root_div {
    width: 21rem;
    margin-left: 0.7rem;
  }
}
