* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: fixed;
  margin-top: 0.6rem;
  z-index: 2;
  height: 100%;
}
.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.5rem;
  padding-top: 4.5rem;
  background-color: #11131c;
  position: absolute;
  width: 295px;
  height: 95%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  left: 0;
}
.burgerIcon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.burgerIcon:hover {
  cursor: pointer;
}
.alternate_profile_picture_small_sideBar {
  height: 2rem;
  width: 2rem;
  background: linear-gradient(180deg, #7e73ff 0%, #5b4dff 100%);
  border-radius: 50%;
}
.status_light {
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  display: inline-block;
  margin-left: 1rem;
  margin-top: -0.4rem;
}
.user_profile_picture {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 90px;
  top: 50px;
  border-radius: 50%;
  background: #c4c4c4;
}
.user_name {
  position: absolute;
  width: 101px;
  height: 33px;
  left: 80px;
  top: 140px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.user_status {
  position: absolute;
  width: 66px;
  height: 21px;
  left: 95px;
  top: 180px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.4);
}
.functions_of_sidebar {
  width: 232px;
  height: 375px;
  left: 0px;
  margin-bottom: auto;
}
.NavLink_SideBar {
  text-decoration: none;
}
.side_bar_elments_list {
  display: flex;
  margin-left: 2.5rem;
}
.element {
  display: flex;
  align-items: center;
  line-height: 3.56rem;
}
.item_name {
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-left: 1rem;
}
.icons_sideBar {
  width: 19.45px;
  height: 20px;
}
.element::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #7e73ff 0%, #5b4dff 100%);
  width: 0px;
  height: 40px;
  left: 0px;
  margin-left: 0.2rem;
  border-radius: 0.1rem;
}
.element:hover:after {
  width: 6px;
  transition: all 0.3s ease-in-out;
}
.bottomBar {
  display: none;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
  .SideBar {
    height: 80%;
    padding-bottom: 80px;
  }
}

@media (max-width: 600px),
  all and (max-width: 959px) and (orientation: landscape) {
  .bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 3.75rem;
    bottom: 0;
    background: #000000;
    margin: auto;
  }
  .bottomBar a img {
    padding: 0%;
    margin: auto;
  }
  .bottomBar a {
    margin: auto;
    padding: 0%;
  }

  .SideBar {
    display: none;
    height: 97%;
  }
}
