.liveEvents {
  background-color: #000000;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  height: 100%;
  margin-left: 4rem;
}
.liveEventHeading_main {
  display: inline-block;
}
.liveEventsHeading {
  display: flex;
  justify-content: center;
  height: 16px;
  padding-top: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.event_main {
  margin-top: 3rem;
}
.eventHeading {
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.line {
  width: 71.875rem;
}
.live_size_matchType_main_div {
  display: flex;
  gap: 1rem;
}
.live_text_main {
  display: inline-block;
  margin-left: 0.8rem;
}
.liveBox {
  display: flex;
  gap: 2rem;
  width: 4.063rem;
  height: 1.375rem;
  background: #ee0202;
  border-radius: 0.1rem;
}
.liveEventChild_main {
  background-color: rgba(17, 19, 28, 0.8);
  display: block;
  margin-top: 0.2rem;
  border-radius: 1rem;
  width: 75rem;
  height: 12.5rem;
}
.liveText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.size {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-left: 1rem;
  text-transform: uppercase;
  color: #ffffff;
}
.quarterNumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #404040;
}

.addition {
  display: inline-block;
  position: absolute;
  margin-top: 5rem;
  margin-left: -2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.match_detail_main {
  display: inline-block;
  margin-left: 11rem;
}
.blackBox_main {
  display: flex;
}
.team1_main {
  display: inline-block;
  margin-top: -5rem;
  width: 21.125rem;
  height: 6.063rem;
}
.team2_main {
  display: inline-block;
  margin-top: -5rem;
  width: 21.125rem;
  height: 6.063rem;
}
.team1Name_Score {
  display: flex;
  gap: 2rem;
}
.team2Name_Score {
  display: flex;
  gap: 2rem;
}
.team1Name,
.team2Name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-left: 3rem;
  text-transform: uppercase;
  color: #ffffff;
}
.score,
.score2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-right: 5rem;
  text-transform: uppercase;
  color: #e6852c;
}
.clubName_Points_blackBox {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  gap: 2rem;
}
.clubStatus {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: #5fd855;
}
.teamInfo_LiveEvents,
.teamInfo2 {
  background: #000000;
  mix-blend-mode: normal;
  border-radius: 19px;
}
.draw_div_liveEvents {
  display: none;
}
.score_detail_main_div {
  display: none;
}
.tvShow {
  display: inline-block;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.increase {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.clubName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.clubRating {
  width: 3.75rem;
  height: 1.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: #584aff;
}

.divider {
  width: 6.25rem;
  height: 0px;
  margin-left: -2rem;
  margin-right: -2rem;
  display: inline-block;
  border: 2px solid #151824;
  transform: rotate(90deg);
}
.StartSoonTime_box {
  background-color: #5e5e5e;
  width: 13.75rem;
  height: 1.375rem;
  border-radius: 0.1rem;
}

.startsoonTime {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startSoonTime_para {
  font-family: "Poppins";
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
  .liveEventHeading_main {
    display: inline-block;
  }
  .eventHeading {
    display: inline-block;
  }
  .liveEvents {
    margin-left: 4rem;
  }
  .line {
    width: 59rem;
  }
  .liveEventChild_main {
    width: 59rem;
  }
  .match_detail_main {
    margin-left: 6.3rem;
  }
  .quarterNumber {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: smaller;
    margin-left: -8rem;
  }
  .addition {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .liveEventHeading_main {
    display: inline-block;
  }
  .eventHeading {
    display: inline-block;
  }
  .liveEvents {
    margin-left: 4.5rem;
  }
  .line {
    width: 43rem;
  }
  .liveEventChild_main {
    width: 43rem;
  }
  .match_detail_main {
    margin-left: 3rem;
  }
  .quarterNumber {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: smaller;
    margin-left: -8rem;
  }
  .addition {
    margin-left: 1rem;
  }
  .match_detail_main {
    margin-left: 6rem;
  }
  .team1_main {
    width: 12.5rem;
    height: 3rem;
  }
  .team2_main {
    width: 12.5rem;
    height: 3rem;
  }
  .team1Name_Score,
  .team2Name_Score {
    gap: 3rem;
  }

  .team1Name,
  .team2Name {
    font-size: 12px;
    margin-left: 1rem;
  }
  .score,
  .score2 {
    font-size: 15px;
    margin-right: 0.1rem;
  }
  .clubName_Points_blackBox {
    gap: 0.5rem;
  }
  .clubName {
    font-size: 12px;
  }
  .clubRating {
    width: 2.5rem;
    height: 1.5rem;
    font-size: 16px;
  }
}

.liveAndEvent,.TeamNames-Points,  .additionAndScores, .drawLiveEvents, .Half{
  display: none;
}

@media(max-width:37.5rem),all and (max-width: 959px) and (orientation : landscape){
 .team1Name_Score,.team2Name_Score,.tvShow,.increase,.clubStatus,.size,.divider,.liveEventChild_main .liveBox, .addition {
  display: none;
 }
 .liveAndEvent{
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #979797;
  height: max-content;
 }
 .liveAndEvent .EventTitle{
  margin: 0%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
 }
 .EventTitle{
  width: 11.1875rem;
  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
 }

 .liveAndEvent .LiveText{
  margin: 0%;
  width: 1.875rem;
height: 1.3125rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.75rem;
line-height: 1rem;
text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #FFFFFF;
background:red;
margin-left: auto;
 }

 
 .TeamNames-Points{
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;  
 }


 .homeTeamName, .awayTeamName, .Points{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1rem;
text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #FFFFFF;
 }
 .Points{
  width: auto;
 }
 
 .additionAndScores{
  display: flex;
  gap: 2rem;
  padding: 0 0.5rem;
 }

.Score1,.Score2{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 0.9375rem;
line-height: 1rem;
text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #E6852C;
}

.increment{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.875rem;
line-height: 1rem;
text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #D8D8D8;
margin-right:1rem ;
}

.drawLiveEvents{
  display: flex;
  flex-direction: column;
  background: #000000;
mix-blend-mode: normal;
border-radius: 1.1875rem;
padding: 0.5rem;
margin: auto;
width: auto;
height: 4.625rem; 
width: 6.5625rem;
gap: 1rem;
}

.DrawText, .clubName{
  margin: 0%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}
.clubName{
  width: 4.725rem;
  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.DrawRating, .clubRating{
  margin: 0%;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 0.875rem;
line-height: 1rem;
text-align: center;
letter-spacing: 1.75px;
text-transform: uppercase;
color: #584AFF;
}
.liveEventChild-root_div{
  width: 100%;
  margin-right: 2rem;
}
.liveEventChild_main{
  width: 100%;
  height: 16.8125rem;
background: rgba(17, 19, 28, 0.8);
border: 1px solid #D8D8D8;
border-radius: 0.5rem;
margin-bottom: 1rem;
}
.team1_main, .team2_main{
  width: fit-content;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0%;
}

.match_detail_main, .blackBox_main{
  height: auto;
  width: auto;
  margin-left: 0%;
}
.clubName_Points_blackBox{
  width: 0.625rem;
  flex-direction: column;
  height: 4.625rem;
  width: fit-content;
  padding: 0%;
  margin: 0px;
  gap:1rem;
}
.clubName, .clubRating{
  margin: 0%;
  height: auto;
  margin-left: 1rem;
  
}
.clubRating{
  width: auto;
}
.teamInfo_LiveEvents,.teamInfo2{
  min-width: 6.5625rem;
  width: auto;
}
.teamInfo_LiveEvents{
  margin-left: 0.5rem;
}
.teamInfo2{
  margin-right: 0.5rem;
}

.liveEvents{
  width: 100%;
  margin: 0 0.5rem;
  padding-right:1rem ;
}
.match_detail_main{
  width: 100%;
}
.Half{
  display: flex;
  margin-top: 1rem;
  margin-right: auto;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.875rem;
line-height: 1rem;
text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #D8D8D8;
padding-left:0.5rem ;
}
  }

 @media all and (max-width: 959px) and (orientation : landscape){
 
.team1_main,.team2_main,.drawLiveEvents{
  min-width: 30%;
  width: auto;
}
.clubName,.DrawText, .EventTitle{
  text-align: center;
  width: auto;
  font-size: 1rem;
  margin: 0%;
}
.liveAndEvent .EventTitle{
  width: auto;
  width: auto;
  font-size: 1rem;
  margin: 0%;
}
.clubRating,.DrawRating{
  font-size: 1rem;
  text-align: center;
  margin: 0%;
}
.clubName_Points_blackBox{
  width: auto;
}
.TeamNames-Points{
  gap: 2rem;
}
.TeamNames-Points p{
font-size: 1.3rem;
}

 }