.main_lobbyBar {
  background: rgba(17, 19, 28, 0.8);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
  width: 75rem;
  margin-left: 4.5rem;
}
.lobbyBar_main_div {
  padding-left: 1rem;
  padding-right: 0.75rem;
  padding-bottom: 1rem;
}
.lobbyBar_div {
  display: inline-block;
  margin-top: -0.7rem;
  margin-bottom: 0.8rem;
}
.league_Name {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding-top: 2rem;
}
.hr_lobbyBar {
  color: white;
  width: 73.125rem;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
  margin-right: 1.2rem;
}
.main {
  width: 73.75rem;
  height: 4.375rem;
  background: black;
  margin-top: 1rem;
  margin-left: -0.5rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
.match_status {
  width: 4.375rem;
  height: 1.313rem;
}

.match_status p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.box_div {
  display: flex;
  margin-left: 5rem;
  margin-top: -0.5rem;
}
.box1 {
  width: 6.75rem;
  height: 3rem;
  background: #11131c;
  mix-blend-mode: normal;
  border-radius: 19px;
  margin-left: 1rem;
}
.box2 {
  width: 6.75rem;
  height: 3rem;
  background: #11131c;
  mix-blend-mode: normal;
  border-radius: 19px;
  margin-left: 1rem;
}
.box3 {
  width: 6.75rem;
  height: 3rem;
  background: #11131c;
  mix-blend-mode: normal;
  border-radius: 19px;
  margin-left: 1rem;
}

.box1 .p1 {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.box2 .p1 {
  display: inline-block;
  margin-top: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.box3 .p1 {
  display: inline-block;
  margin-top: 0.5rem;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
}
.box1 .p2 {
  margin-top: -1.1rem;
  font-family: "Poppins";
  text-transform: uppercase;
  color: #584aff;
}
.box2 .p2 {
  margin-top: -1.2rem;
  font-family: "Poppins";
  text-transform: uppercase;
  color: #584aff;
}
.box3 .p2 {
  font-family: "Poppins";
  margin-top: -1.1rem;
  text-transform: uppercase;
  color: #584aff;
}
.text_div {
  display: flex;
  margin-left: 40rem;
  margin-top: -2.5rem;
}
.text1 {
  display: inline-block;
  width: 5.563rem;
  height: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.text2 {
  display: inline-block;
  margin-left: 2rem;
  width: 2.438rem;
  height: 1.813rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.text3 {
  display: inline-block;
  width: 3.813rem;
  margin-left: 2rem;
  height: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}
.downArrow_lobby {
  color: grey;
  font-size: 35px;
  margin-top: -0.8rem;
  margin-left: 10rem;
}
.points {
  display: none;
}
.leagueName {
  display: none;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
  .main_lobbyBar {
    width: 59rem;
  }
  .hr_lobbyBar {
    width: 58rem;
  }
  .main {
    width: 58rem;
  }
  .box_div {
    margin-left: 2rem;
  }
  .text_div {
    margin-left: 32.5rem;
  }
  .downArrow_lobby {
    color: grey;
    font-size: 35px;
    margin-top: -0.8rem;
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .main_lobbyBar {
    width: 43rem;
  }
  .hr_lobbyBar {
    width: 41.5rem;
  }
  .main {
    width: 42rem;
  }
  .box_div {
    margin-left: 0rem;
  }
  .text_div {
    margin-left: 24rem;
  }
  .downArrow_lobby {
    color: grey;
    font-size: 25px;
    margin-top: -0.8rem;
    margin-left: 2rem;
  }
  .text1 {
    width: 4rem;
    font-size: 10px;
    margin-left: 1rem;
  }
  .text2 {
    margin-left: 2rem;
    width: 2rem;
    font-size: 12px;
  }
  .text3 {
    width: 4rem;
    margin-left: 1rem;
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .league_Name {
    display: none;
  }
  .match_status {
    display: none;
  }
  .hr_lobbyBar {
    display: none;
  }
  .leagueName {
    display: flex;
    padding: 0 0.3125rem;
  }
  .leagueName .liveText {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    width: 3.5rem;
    height: 1.3125rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
  }

  .leagueName .leagueNameText {
    display: inline-block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
  }
  .main {
    height: 16.81rem;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border: 1px solid #d8d8d8;
    border-radius: 0.5rem;
    background: rgba(17, 19, 28, 0.8);
  }
  .main_lobbyBar {
    width: 0%;
    margin-left: 1.2rem;
  }
  .text_div {
    margin-left: 0%;
    padding-right: 1rem;
    width: auto;
    margin: 0.4375rem;
    margin-top: 1.3rem;
  }
  .box_div {
    margin-left: 0.5rem;
    padding-right: 1rem;
    width: auto;
  }
  .box1,
  .box2,
  .box3 {
    margin: auto;
    width: 7rem;
    padding: 0 1rem;
    height: 4.625rem;
    background: black;
  }
  .box1 .p2,
  .box2 .p2,
  .box3 .p2 {
    padding-top: 0.5rem;
    font-size: 0.875rem;
  }
  .downArrow_lobby {
    display: none;
  }
  .main_lobbyBar {
    width: auto;
  }
  .lobbyBar_main_div {
    padding: 0%;
    background: black;
  }
  .lobbyBar_div {
    display: block;
    margin-right: 0.625rem;
  }
  .points {
    display: flex;
    color: white;
    gap: 3rem;
    padding-bottom: 0.5rem;
  }
  hr {
    border: 1px solid #979797;
    margin: 0.4375rem 0;
  }
  .point1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #d8d8d8;
    margin-right: 2.5rem;
    margin-left: 1rem;
  }

  .point2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #e6852c;
  }
  .point3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #e6852c;
  }
}
