@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-bottom: 5rem;
  background: linear-gradient(
      0deg,
      rgba(36, 9, 115, 0.12),
      rgba(36, 9, 115, 0.12)
    ),
    #000000;
  box-sizing: border-box;
  overflow-x: hidden;
}
