.startingSoonEvents {
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 20px;
  height: 100%;
  width: auto;
  margin-left: 4.5rem;
  margin-right: 1rem;
}
.startingSoonEventHeading_main {
  display: inline-block;
}
.startingSoonEventsHeading {
  display: flex;
  justify-content: center;
  height: 16px;
  padding-top: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.event_main {
  margin-top: 3rem;
}
.eventHeading_startSoon {
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.line_startSoon {
  width: auto;
}

.startSoonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
}
.startingSoonEventChild_main {
  background-color: rgba(17, 19, 28, 0.8);
  display: block;
  border-radius: 1rem;
  width: auto;
  height: auto;
}
.draw {
  display: none;
}
.startSoonText1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 0.1rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
  background: #5e5e5e;
  padding: 0.2rem;
}

.addition_StartSoon {
  position: absolute;
  margin-top: 5rem;
  margin-left: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.match_detail_main_startSoon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackBox_main_startSoon {
  display: flex;
}
.team1_main_startSoon {
  display: inline-block;
  margin-bottom: 4rem;
  width: 21.125rem;
  width: auto;
  height: 6.063rem;
}
.team2_main_startSoon {
  display: inline-block;
  margin: 0 2.3rem;
  width: 21.125rem;
  height: 6.063rem;
  padding-right: 2rem;
}
.team1Name_Score_startSoon {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.team2Name_Score_startSoon {
  display: flex;
  gap: 4rem;
}
.team1Name_startSoon,
.team2Name_startSoon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-left: 3rem;
  text-transform: uppercase;
  color: #ffffff;
}
.score_startSoon,
.score2_startSoon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-right: 5rem;
  text-transform: uppercase;
  color: #e6852c;
}
.clubName_Points_blackBox_startSoon {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  gap: 2rem;
}
.clubStatus_startSoon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #5fd855;
  padding-bottom: 0.5rem;
}
.teamInfo,
.teamInfo2_startSoon,
.draw {
  background: #000000;
  mix-blend-mode: normal;
  border-radius: 19px;
}
.tvShow_StartSoon {
  margin-left: 2rem;
}

.tvShow_StartSoon,
.increase_StartSoon {
  display: inline-block;
  margin-top: 5rem;
  width: 2rem;
  height: 2rem;
}

.clubName_startSoon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.clubRating_startSoon {
  width: 3.75rem;
  height: 1.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: #584aff;
}

.divider_startSoon {
  display: inline-block;
  margin-top: 5rem;
  width: 7rem;
  height: 0px;
  border: 2px solid black;
  transform: rotate(90deg);
}
.increase1_StartSoon,
.tvShow1_StartSoon,
.startingLine,
.TeamNames,
.teamTitle,
.startSoonText {
  display: none;
}
/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
  .startingSoonEvents {
    margin-left: 4.5rem;
  }
  .line_startSoon {
    width: auto;
  }
  .startingSoonEventChild_main {
    width: auto;
  }
  .match_detail_main_startSoon {
    margin-left: 6.3rem;
  }
  .addition_StartSoon {
    margin-left: 0.5rem;
  }
  .teamInfo,
  .teamInfo2_startSoon,
  .draw {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 912px) {
  .startingSoonEvents {
    margin-left: 5rem;
    margin-right: 0.3rem;
  }
  .line_startSoon {
    width: auto;
  }
  .startingSoonEventChild_main {
    width: auto;
    padding-bottom: 3rem;
  }
  .team1_main_startSoon {
    width: 14rem;
    height: 3rem;
  }
  .team2_main_startSoon {
    width: 14rem;
    height: 3rem;
    padding-right: 1rem;
  }
  .addition_StartSoon {
    margin-right: 0.5rem;
  }
  .team1Name_Score_startSoon,
  .team2Name_Score_startSoon {
    gap: 1rem;
  }
  .startSoonText {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 820px) {
  .startingSoonEvents {
    margin-left: 4.5rem;
  }
  .line_startSoon {
    width: auto;
  }
  .startingSoonEventChild_main {
    width: auto;
  }
  .addition_StartSoon {
    margin-left: 0rem;
  }
  .match_detail_main_startSoon {
    margin-left: 3rem;
  }
  .team1_main_startSoon {
    width: 12.5rem;
    height: 3rem;
  }
  .team2_main_startSoon {
    width: 12.5rem;
    height: 3rem;
  }
  .team1Name_Score_startSoon,
  .team2Name_Score_startSoon {
    gap: 3rem;
  }

  .team1Name_startSoon,
  .team2Name_startSoon {
    font-size: 12px;
    margin-left: 1rem;
  }
  .score_startSoon,
  .score2_startSoon {
    font-size: 15px;
    margin-right: 0.1rem;
  }
  .clubName_Points_blackBox_startSoon {
    gap: 0.5rem;
  }
  .clubName_startSoon {
    font-size: 12px;
  }
  .clubRating_startSoon {
    width: 2.5rem;
    height: 1.5rem;
    font-size: 16px;
  }
}
@media (max-width: 604px),
  all and (max-width: 959px) and (orientation: landscape) {
  .startingLine,
  .TeamNames {
    display: block;
    width: auto;
  }
  .TeamNames {
    display: flex;
    margin: 1rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #ffffff;
  }
  .teamTitle {
    display: block;
    width: 11.188rem;
    height: 1rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1rem;
  }
  .startSoonText1,
  .increase_StartSoon,
  .tvShow_StartSoon,
  .score_startSoon,
  .addition_StartSoon,
  .divider,
  .score2_startSoon,
  .team1_main_startSoon .clubStatus_startSoon,
  .team2_main_startSoon .clubStatus_startSoon,
  .eventHeading,
  .line,
  .team1Name_Score_startSoon,
  .team2Name_Score_startSoon {
    display: none;
  }
  .startSoonText {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #d8d8d8;
  }
  .startingSoonEventChild_main {
    height: 14.8125rem;
    min-width: 100%;
    width: 100%;
    margin: 0.5rem;
    overflow: auto;
    background: rgba(17, 19, 28, 0.8);
    border: 0.0625rem solid #d8d8d8;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: 0.6rem;
  }
  .team1_main_startSoon,
  .team2_main_startSoon,
  .drawBlacBox {
    margin: 0%;
    width: 7rem;
    height: 4.625rem;
  }
  .draw {
    padding: 0.625rem;
    margin: auto;
    height: 4.625rem;
    width: auto;
  }

  .blackBox_main_startSoon,
  .match_detail_main_startSoon {
    width: 100%;
    height: 0%;
    margin-left: 0rem;
  }

  .team1_main_startSoon .clubName_startSoon,
  .team2_main_startSoon .clubName_startSoon {
    height: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    text-overflow: inherit;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .startingSoonEvents {
    margin: 0%;
    width: 100%;
    background: none;
  }
  .clubName_Points_blackBox_startSoon,
  .draw {
    width: auto;
    display: inline;
    height: 4.625rem;
  }
  .startSoonBox {
    display: flex;
    width: 100%;
  }
  .teamInfo,
  .teamInfo2_startSoon {
    height: 4.625rem;
    width: auto;
    padding: 0.625rem;
    margin: auto;
  }
  .tvShow1_StartSoon {
    display: block;
    padding: 0%;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
  }
  .increase1_StartSoon {
    display: block;
    padding: 0%;
    width: fit-content;
    height: fit-content;
  }

  .drawText {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .drawRating {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #584aff;
  }
  .clubRating_startSoon {
    margin-left: 0%;
    width: auto;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #584aff;
  }
  .startingSoonEventChild-root_div {
    margin-right: 1.2rem;
  }
}

@media all and (max-width: 959px) and (orientation: landscape) {
  .team1_main_startSoon,
  .draw,
  .team2_main_startSoon {
    width: 30%;
  }
  .team1_main_startSoon .clubName_startSoon,
  .team2_main_startSoon .clubName_startSoon,
  .team1_main_startSoon .clubRating_startSoon,
  .team2_main_startSoon .clubRating_startSoon {
    font-size: 1.2rem;
    width: 100%;
    margin-left: 0;
  }
  .drawText,
  .drawRating {
    font-size: 1.2rem;
  }
  .teamTitle {
    margin-bottom: 0.5rem;
    width: auto;
    font-size: 0.8rem;
  }
  .TeamNames {
    font-size: 1.2rem;
  }
}

@media (max-width: 295px) {
  .teamInfo,
  .teamInfo2_startSoon {
    width: 4.5rem;
  }
  .team1_main_startSoon .clubName_startSoon,
  .team1_main_startSoon .clubRating_startSoon,
  .team2_main_startSoon .clubName_startSoon,
  .team2_main_startSoon .clubRating_startSoon,
  .draw p {
    font-size: 0.725rem;
  }
}
